<div class="user-details">
  <h1> Professional Experience </h1>
</div>

<div class="user-experience">
  <div class="experience-entry">
    <div class="experience-header">
      <img alt="IBM" src="https://www.svgrepo.com/show/303377/ibm-logo.svg" />
      <div class="experience-title">
        <h3> Software Engineer </h3>
        <ul class="skills">
          <li>Java</li>
          <li>Spring Boot</li>
          <li>PostgreSQL</li>
          <li>REST APIs</li>
        </ul>
      </div>
      <p class="experience-duration">Sep 2024 - Present</p>
    </div>

    <p>Developing workflow features for the backend of the IBM Knowledge Catalog.</p>
    <ul>
      <li>Enhanced the existing bulk API by integrating asynchronous user task queuing using RabbitMQ with multithreaded user task processing, achieving a 90% reduction in response times and up to 45% improvement in overall processing time.</li>
    </ul>
  </div>

  <div class="experience-entry">
    <div class="experience-header">
      <img alt="Cisco" src="https://www.svgrepo.com/show/448278/cisco.svg" />
      <div class="experience-title">
        <h3> Software Engineer Intern </h3>
        <ul class="skills">
          <li>C++</li>
          <li>Machine Learning</li>
          <li>Computer Vision</li>
        </ul>
      </div>
      <p class="experience-duration">Jun 2024 - Aug 2024</p>
    </div>

    <p>Contributing to the Webex platform media team with a focus on improving camera modules through framework development and data processing optimization.</p>
    <ul>
      <li>Designed and enhanced the camera framework to integrate the neural network into the existing infrastructure, optimizing image processing pipelines, enabling on-device inference while enhancing resource efficiency.</li>
      <li>Enabled the AI capabilities of a Webex device by embedding a neural network for on-device image inference.</li>
    </ul>
  </div>

  <div class="experience-entry">
    <div class="experience-header">
      <img alt="IBM" src="https://www.svgrepo.com/show/303377/ibm-logo.svg" />
      <div class="experience-title">
        <h3> Software Engineer Intern </h3>
        <ul class="skills">
          <li>Java</li>
          <li>Spring Boot</li>
          <li>PostgreSQL</li>
          <li>REST APIs</li>
        </ul>
      </div>
      <p class="experience-duration">Apr 2024 - Jun 2024</p>
    </div>

    <p>Developing workflow features for the backend of the IBM Knowledge Catalog.</p>
    <ul>
      <li>Designed and implemented a bulk API using Java and Spring to improve the processing speed of user tasks, enabling the system to handle significantly larger workloads.</li>
      <li>Developed a REST API performance measurement tool using Java to generate test data across multiple microservices and monitor API response times for concurrent requests.</li>
    </ul>
  </div>

  <div class="experience-entry">
    <div class="experience-header">
      <img alt="Porsche Engineering" src="https://www.svgrepo.com/show/303278/porsche-1-logo.svg" />
      <div class="experience-title">
        <h3> Software Development Engineer </h3>
        <ul class="skills">
          <li>Python</li>
          <li>Machine Learning</li>
          <li>Computer Vision</li>
          <li>ROS</li>
        </ul>
      </div>
      <p class="experience-duration">Oct 2021 - Mar 2024</p>
    </div>

    <p>Working on the JUPITER R&D platform to implement and distribute automated driving functionalities.</p>
    <ul>
      <li>Implemented LiDAR sensor fusion in ROS2 to provide a 360-degree vehicle view, integrating a 3D object detection algorithm to enhance perception capabilities.</li>
      <li>Developing a unified Python interface for vehicles, enabling automated utilization of driving functionalities through the Docker and Cloud infrastructure.</li>
      <li>Enhancement of the CI/CD process, ensuring seamless integration of highly automated driving functions, thereby improving overall development efficiency.</li>
    </ul>

    <p>Supporting the development of charging software for the Volkswagen Group's electric vehicle portfolio.</p>
    <ul>
      <li>Developed a Python toolchain to automate the charging software integration process, streamlining development workflows and reducing manual errors.</li>
      <li>Development of a Python-based application improving the efficiency of interaction with a repository manager using a Conan interface.</li>
      <li>Took charge of CI/CD processes within the charging management project, optimizing software development efficiency and ensuring robustness in the final product.</li>
    </ul>
  </div>

  <div class="experience-entry">
    <div class="experience-header">
      <img alt="Siemens Energy" src="https://www.svgrepo.com/show/303547/siemens-logo.svg" />
      <div class="experience-title">
        <h3> Software Developer </h3>
        <ul class="skills">
          <li>Java</li>
          <li>JUnit</li>
          <li>Maven</li>
        </ul>
      </div>
      <p class="experience-duration">Sep 2018 - Sep 2021</p>
    </div>

    <p>Supporting the teams in the Remote Expert Center with the development of software tools.</p>
    <ul>
      <li>Development of a Java-based application to simplify the file update process on application servers.</li>
      <li>Built a Java-based data visualization tool to analyze customer trends, enabling insights through interactive visual reports.</li>
      <li>Developed a security and patch management service to automate malware pattern updates on application servers, bolstering cybersecurity and ensuring timely patch deployment across the infrastructure.</li>
    </ul>
  </div>
</div>
